*{
    margin: 0;
    padding: 0;
}
body{
    font-family:"roboto",sans-serif ;
    background-color: rgb(246, 234, 234);
    opacity: 0.9;
    background-image: url(https://images.axios.com/LMIqfljcccTEeaFROP8CWgX2t_Q=/1920x1080/smart/2022/07/29/1659122511631.jpg?w=1920);

}

nav{
    background-color: rgb(9, 8, 9);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    opacity: 0.8;
}

.logo{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 500px;

    && img{
        width: 80px;
    }
}

ul{
    display: flex;
}

a{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

a:hover{
    opacity: 0.9;
    text-shadow: 0 0 0.9am;
}

ul{
    color: white;
    list-style: none;
    gap: 70px;
    letter-spacing: 3px;
    align-items: center;
}

